.menu {
  display: flex;
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
  height: 40px;
  background-color: #ddd;
  border-bottom: solid 2px black;
}
.menu li {
  flex: 1;
  align-self: center;
}
.menu li a {
  display: block;
  text-align: center;
  color: black;
}
.menu li a:active {
  color: black;
}
.menu li a:hover {
  color: #545454;
}
