ul.moviesListContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

ul.moviesListContainer > li {
  width: 50%;
}

.configs {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: space-around;
}
